<h1 class="page-header">{{usuario.username}}</h1>
<h4>{{usuario.name}} {{usuario.lastname}}</h4>
<h3 class="page-header"> Datos basicos</h3>
<h3 class="page-header"> Reputación</h3>
<h3 class="page-header"> Articulos recientes</h3>
{{#each videos}}
  <div class="row">
    <div class="col-md-7">
      <video width="320" height="240" controls>
        <source src="{{this.video}}" type="video/mp4"/>
      </video>
    </div>
    <div class="col-md-5">
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <h4><b>Precio:</b> ${{this.price}} COP</h4>
      <h5><b>Contacto: </b> <a href="/perfil/{{this.username}}">{{this.username}}</a> </h5>
    </div>
  </div>

  <hr>
{{/each}}
