<h1 class="page-header">{{usuario.username}}</h1>

<h3 class="page-header"> Datos basicos</h3>
<p><b>Nombre completo:</b> {{usuario.name}} {{usuario.lastname}}</p>
<p><b>Correo electronico: </b>{{usuario.email}}</p>
<p><b>Celular: </b>{{usuario.phone}}</p>
<p><b>Ciudad: </b>{{usuario.city}}, {{usuario.country}}</p>

<h3 class="page-header"> Reputación</h3>
<p><b>Calificación: </b>{{usuario.rating}}</p>
<p><b>Cantidad de votos: </b>{{usuario.voters}}</p>
<p><b>Cantidad de articulos que ofrece: </b>{{nVideos}}</p>

<form method="post" action="/rate/{{usuario.username}}">
  <div class="container">
    <ul class="rate-area">
      <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Excelente">5 stars</label>
      <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="Bueno">4 stars</label>
      <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="Regular">3 stars</label>
      <input type="radio" id="2-star" name="rating" value="2" /><label for="2-star" title="Malo">2 stars</label>
      <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Pesimo">1 star</label>
    </ul>
  </div>
  <button type="submit" class="btn btn-info">Calificar</button>
</form>

<h3 class="page-header"> Articulos recientes</h3>
{{#each videos}}
  <div class="row">
    <div class="col-md-7">
      <video width="320" height="240" controls>
        <source src="{{this.video}}" type="video/mp4"/>
      </video>
    </div>
    <div class="col-md-5">
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <h4><b>Precio:</b> ${{this.price}} COP</h4>
      <h5><b>Contacto: </b> <a href="/perfil/{{this.username}}">{{this.username}}</a> </h5>
    </div>
  </div>

  <hr>
{{/each}}
