<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="header">Pagina principal
            </h1>
        </div>
    </div>

    <form method="post" action="/buscar">
        <div class="form-group">
            <label>Buscar</label>
            <input type="text" class="form-control" name="buscar" placeholder="Busqueda por usuario">
        </div>
        <button type="submit" class="btn btn-default">Entrar</button>
    </form>

    <hr>

  {{#each videos}}
      <div class="row">
          <div class="col-md-7">
              <video width="320" height="240" controls>
                  <source src="{{this.video}}" type="video/mp4"/>
              </video>
          </div>
          <div class="col-md-5">
              <h3>{{this.title}}</h3>
              <p>{{this.description}}</p>
              <h4><b>Precio:</b> ${{this.price}} COP</h4>
              <h5><b>Contacto: </b> <a href="/perfil/{{this.username}}">{{this.username}}</a> </h5>
          </div>
      </div>

      <hr>
  {{/each}}
</div>

