<!DOCTYPE html>
<html>
<head>
    <title>VOS - Virtual Online Shopping</title>
    <script src="node_modules/lodash/lodash.js" type="text/javascript"></script>
    <script src="node_modules/cloudinary-core/cloudinary-core.js" type="text/javascript"></script>
    <script src="node_modules/cloudinary-video-player/dist/cld-video-player.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/style2.css"/>
  <link rel="stylesheet" href="/css/5star.css"/>
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
              {{#if user}}
                  <li role="presentation"><a href="/videos">Contenido público</a></li>
                  <li role="presentation"><a href="/cuenta">Mi perfil</a></li>
                  <li role="presentation"><a href="/misvideos">Mis publicaciones</a></li>
                  <li role="presentation"><a href="/publicar">Subir</a></li>
                  <li role="presentation"><a href="/salir">Cerrar sesión</a></li>
              {{else}}
                  <li role="presentation"><a href="/ingresar">Ingresar</a></li>
                  <li role="presentation"><a href="/registro">Registrarse</a></li>
              {{/if}}
            </ul>
        </nav>

    </div>


    <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
              <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
              <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
              <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          {{{body}}}
        </div>


    </div>


</div> <!-- /container -->
</body>
</html>
